<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Color Scheme Builder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="grid_container">
            <div id="main_grid">
                <div id="primary" class="color_box">
                </div>
                <div id="on_primary" class="color_box">
                </div>
                <div id="primary_container" class="color_box">
                </div>
                <div id="on_primary_container" class="color_box">
                </div>

                <div id="secondary" class="color_box">
                </div>
                <div id="on_secondary" class="color_box">
                </div>
                <div id="secondary_container" class="color_box">
                </div>
                <div id="on_secondary_container" class="color_box">
                </div>

                <div id="tertiary" class="color_box">
                </div>
                <div id="on_tertiary" class="color_box">
                </div>
                <div id="tertiary_container" class="color_box">
                </div>
                <div id="on_tertiary_container" class="color_box">
                </div>

                <div id="error" class="color_box">
                </div>
                <div id="on_error" class="color_box">
                </div>
                <div id="error_container" class="color_box">
                </div>
                <div id="on_error_container" class="color_box">
                </div>

                <div id="background" class="color_box">
                </div>
                <div id="on_background" class="color_box">
                </div>
                <div id="surface" class="color_box">
                </div>
                <div id="on_surface" class="color_box">
                </div>

                <div id="outline" class="color_box">
                </div>
                <div id="surface_variant" class="color_box">
                </div>
                <div id="on_surface_variant" class="color_box">
                </div>

            </div>
        </div>
    </body>
    <script href="color_builder.js"></script>
</html>